.button {
    padding: 16px 40px;
    max-width: 300px;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #6039aa;
    background-color: #6039aa;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    background-color: #8061bb;
    transform: translateY(-1px);
}
