.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    position: relative;
    min-height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-position: 50%;
    border-radius: 4px;
}

.heading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(271deg, rgba(168, 129, 253, .53), #5900b1);
    background-color: transparent;
    border-radius: 4px;
}

.heading_title {
    font-size: 36px;
    font-weight: 800;
}

.heading_description {
    font-size: 18px;
}

.heading_description, .heading_title {
    color: #fff;
    z-index: 60;
    font-family: Open Sans, sans-serif;
}

.content {
    padding: 30px 45px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content_title {
    font-family: Open Sans, sans-serif;
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #8f4af9;
}

.content_list {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
